th {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}
tbody {
  font-size: 12px;
}
.table-responsive table {
  border-collapse: collapse;
}
.table-responsive th,
.table-responsive td {
  box-shadow: 0 1px 0 #ddd;
}

.table-responsive .table th,
.table-responsive .table td {
  text-align: center;
}
.table-responsive .btn-icon {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.table-responsive .btn-icon i {
  font-size: 16px;
}
/* Style cho các button */
.table-responsive .btn-view {
  color: #007bff; /* Màu xanh dương */
}
.table-responsive.btn-target {
  color: #28a745; /* Màu xanh lá */
}
.table-responsive .btn-achieved {
  color: #dc3545; /* Màu đỏ */
}
.task-table .tbodytr td {
  white-space: nowrap;
}
.select_year {
  height: 37px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: 1px solid #dee2e6;
}
.btn-view {
  color: #007bff; /* Màu xanh dương */
}
.btn-target {
  color: #28a745; /* Màu xanh lá */
}
.btn-achieved {
  color: #dc3545; /* Màu đỏ */
}
.select_KPIPB .select2-container .select2-selection--single {
  justify-content: center !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Loại bỏ giao diện mặc định */
  margin: 0; /* Loại bỏ khoảng cách */
}

input[type="number"] {
  -moz-appearance: textfield; /* Ẩn mũi tên trong Firefox */
}
.purchasetd {
  position: relative;
  max-width: 400;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
}
#sidebar {
  background-color: #0d3057 !important;
}
/* Container bao bọc text + tooltip */
@media (max-width: 800px) {
  .cardbody {
    width: 100% !important  ;
  }
}
